@model  Assessment6MVC.Models.User


@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>

    <p>Way to go, @(Model.FirstName + " " + Model.LastName + "!")</p>

    <p>Email: @Model.Email</p>

    <p>You have signed up to go on: @Model.Date</p>

    <p>You are</p>
    
        @{ 
            if(Model.Guest != true)
            {
               <p>NOT</p>
            }
        }
    <p>bringing a guest!</p>